body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

h3 {
    color: #007BFF; /* Color resaltado para títulos de bitácoras */
    font-weight: bold;
}

#years-container button,
#months-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, textarea, select {
    margin: 5px;
}

button {
    cursor: pointer;
}

.bitacora {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

